
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.cover-3Sy {
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;
  background-color: #2b1887;
  border-radius: 2.4rem;

  .tasks-x49 {
    top: 8rem;
    align-items: flex-start;
    display: flex;
    background-color: #2b1887;
    border-radius: 3.2rem;
    width: 109.7rem;
    height: 144.4rem;
    position: absolute;
    left: 66.3rem;

    .frame-3-EGZ {
      box-sizing: border-box;
      width: 52.85rem;
      row-gap: 2.4rem;
      display: flex;
      background-color: #d4ccff;
      margin-right: 4rem;
      padding: 2.4rem;
      flex-direction: column;
      border-radius: 1.6rem;
      flex-shrink: 0;

      .frame-6-wRs {
        align-items: center;
        flex-shrink: 0;
        margin-right: 32.75rem;
        box-sizing: border-box;
        padding-left: 0.75rem;
        width: calc(100% - 32.75rem);
        display: flex;

        .icon-3jo {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.35rem;
          width: 2.5rem;
          height: 3.25rem;
        }
        .to-do-xLy {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #2b1887;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .task-4Q1 {
        padding: 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .my-task-nau {
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .frame-1-ufX {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 3.5rem;
          display: flex;

          .priority-effort-TBF {
            margin-right: 24.35rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .due-date-aFs {
              display: flex;
              background-color: #e42c5f;
              border-radius: 0.8rem;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: SF Pro Display, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              width: 4.8rem;
              height: 100%;
              font-weight: 600;
              white-space: nowrap;
              line-height: 1.2575;
              flex-shrink: 0;
            }
            .auto-group-dm77-m5T {
              padding: 1.15rem 0rem 1.15rem 1.2rem;
              height: 100%;
              display: flex;
              column-gap: 1.2rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;

              .rectangle-1-e9F {
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
                width: 2.4rem;
                height: 1.2rem;
                background-color: #e42c5f;
              }
              .rectangle-1-vcZ {
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
                width: 2.4rem;
                height: 1.2rem;
                background-color: #e42c5f;
              }
              .rectangle-1-TMb {
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
                width: 2.4rem;
                height: 1.2rem;
                background-color: #d9d9d9;
              }
            }
          }
          .project-or-client-jpu {
            line-height: 1.3025;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            color: #2b1887;
            margin-top: 0.1rem;
          }
        }
      }
      .task-b6R {
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        display: flex;

        .my-task-Vhb {
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
        }
        .frame-1-Cc1 {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-AHw {
            margin: 0.35rem 23.15rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-2fn1-Grm {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;

              .due-date-be9 {
                left: 0;
                top: 0;
                background-color: #ebb800;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;

                .mon-wi1 {
                  top: 0.8rem;
                  font-weight: 600;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  width: 3rem;
                  height: 2.1rem;
                  position: absolute;
                  left: 0.8rem;
                  font-size: 1.6rem;
                  white-space: nowrap;
                }
                .rectangle-1-dKw {
                  top: 0.6rem;
                  background-color: #ebb800;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                }
              }
              .rectangle-1-2ss {
                left: 3.6rem;
                top: 0.6rem;
                background-color: #ebb800;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
              }
            }
            .rectangle-1-7uK {
              width: 2.4rem;
              height: 1.2rem;
              background-color: #ebb800;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
            }
          }
          .project-or-client-yRj {
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .task-HSR {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;

        .my-task-cjb {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
        }
        .frame-1-Xbf {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-gzM {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 29.45rem 0rem 0rem;
            height: 3.5rem;

            .auto-group-gsrp-ct1 {
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .due-date-MKo {
                position: absolute;
                left: 0;
                top: 0;
                background-color: #e42c5f;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;

                .mon-EeV {
                  font-weight: 600;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 3rem;
                  height: 2.1rem;
                  position: absolute;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-size: 1.6rem;
                  line-height: 1.2575;
                }
                .rectangle-1-Xdb {
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #e42c5f;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                }
              }
              .rectangle-1-1of {
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #e42c5f;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
              }
            }
            .rectangle-1-WkR {
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #e42c5f;
            }
          }
          .project-or-client-RsP {
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
          }
        }
      }
    }
    .frame-5-JAV {
      height: 100%;
      border-radius: 1.6rem;
      flex-shrink: 0;
      padding: 2.4rem;
      width: 52.85rem;
      row-gap: 2.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #d4ccff;
      box-sizing: border-box;

      .frame-7-QUR {
        margin-right: 34.25rem;
        box-sizing: border-box;
        padding-left: 0.75rem;
        width: calc(100% - 34.25rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-77w {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.35rem;
          width: 2.5rem;
          height: 3.25rem;
          object-fit: contain;
        }
        .done-SR7 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #2b1887;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .task-Zkd {
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;

        .my-task-HAq {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .frame-1-QmF {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .priority-effort-AkR {
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 24.55rem 0rem 0rem;

            .auto-group-vefs-Ha9 {
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .due-date-CSD {
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2d41a7;
                border-radius: 0.8rem;
                width: 4.8rem;

                .mon-iQZ {
                  font-weight: 600;
                  line-height: 1.2575;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                  height: 2.1rem;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-size: 1.6rem;
                  color: #ffffff;
                  width: 3rem;
                }
                .rectangle-1-nQR {
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #2d41a7;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                }
              }
              .rectangle-1-fUD {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #2d41a7;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-yUu {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-3Ds {
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .task-MEZ {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;

        .my-task-H8D {
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
        }
        .frame-1-zHX {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-wiZ {
            margin: 0.35rem 24.45rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-iznm-sMK {
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;

              .due-date-nz5 {
                left: 0;
                top: 0;
                background-color: #ebb800;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;

                .mon-hLM {
                  height: 2.1rem;
                  color: #ffffff;
                  white-space: nowrap;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  width: 3rem;
                  position: absolute;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.2575;
                }
                .rectangle-1-bAq {
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #ebb800;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                }
              }
              .rectangle-1-GXs {
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #d9d9d9;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
              }
            }
            .rectangle-1-7YV {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-END {
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .task-X6R {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;

        .my-task-46M {
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-1-mFf {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;

          .priority-effort-5GM {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 24.45rem 0rem 0rem;
            height: 3.5rem;

            .auto-group-qms7-nwT {
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .due-date-Y9w {
                left: 0;
                top: 0;
                background-color: #ebb800;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;

                .mon-fVT {
                  height: 2.1rem;
                  left: 0.8rem;
                  font-weight: 600;
                  line-height: 1.2575;
                  color: #ffffff;
                  width: 3rem;
                  top: 0.8rem;
                  font-size: 1.6rem;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                }
                .rectangle-1-kG1 {
                  top: 0.6rem;
                  background-color: #ebb800;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                }
              }
              .rectangle-1-FCm {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #ebb800;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-7Ey {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #ebb800;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-2cq {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
          }
        }
      }
      .task-M9K {
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .my-task-fA1 {
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
        }
        .frame-1-zxy {
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .priority-effort-N4R {
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 25.95rem 0rem 0rem;
            height: 3.5rem;
            display: flex;

            .auto-group-dhzb-toT {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;

              .due-date-QG1 {
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #ebb800;

                .mon-KNy {
                  position: absolute;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.2575;
                  white-space: nowrap;
                  width: 3rem;
                  height: 2.1rem;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  left: 0.8rem;
                  top: 0.8rem;
                }
                .rectangle-1-CSm {
                  background-color: #ebb800;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                }
              }
              .rectangle-1-HUD {
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #ebb800;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
              }
            }
            .rectangle-1-bUu {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-HsX {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
          }
        }
      }
      .task-p6m {
        display: flex;
        flex-direction: column;
        border-radius: 1.2rem;
        box-sizing: border-box;
        padding: 2.4rem;
        align-items: center;
        width: 100%;
        background-color: #f4f2ff;
        flex-shrink: 0;

        .my-task-jjX {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.35rem 1.5rem 0rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .frame-1-ERP {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 3.5rem;
          display: flex;

          .priority-effort-nho {
            align-items: center;
            flex-shrink: 0;
            margin-right: 24.35rem;
            height: 100%;
            display: flex;

            .due-date-w4u {
              font-family: SF Pro Display, 'Source Sans Pro';
              align-items: center;
              background-color: #2d41a7;
              height: 100%;
              font-size: 1.6rem;
              color: #ffffff;
              width: 4.8rem;
              display: flex;
              justify-content: center;
              flex-shrink: 0;
              font-weight: 600;
              line-height: 1.2575;
              white-space: nowrap;
              border-radius: 0.8rem;
            }
            .auto-group-8ec9-nrD {
              display: flex;
              column-gap: 1.2rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.15rem 0rem 1.15rem 1.2rem;
              height: 100%;

              .rectangle-1-hyB {
                width: 2.4rem;
                height: 1.2rem;
                background-color: #2d41a7;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
              }
              .rectangle-1-omK {
                width: 2.4rem;
                height: 1.2rem;
                background-color: #d9d9d9;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
              }
              .rectangle-1-VPF {
                height: 1.2rem;
                background-color: #d9d9d9;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                flex-shrink: 0;
                width: 2.4rem;
              }
            }
          }
          .project-or-client-zL1 {
            font-weight: 400;
            font-family: DM Sans, 'Source Sans Pro';
            margin-top: 0.1rem;
            font-size: 2.4rem;
            color: #2b1887;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            line-height: 1.3025;
          }
        }
      }
      .task-TjP {
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        flex-direction: column;
        background-color: #f4f2ff;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        border-radius: 1.2rem;
        height: 12.6rem;

        .my-task-ap1 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
        }
        .frame-1-6XT {
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .priority-effort-rWd {
            margin: 0.35rem 29.45rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-maqr-ZZT {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;

              .due-date-Gyf {
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2d41a7;

                .mon-2C9 {
                  height: 2.1rem;
                  position: absolute;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  width: 3rem;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.2575;
                  white-space: nowrap;
                }
                .rectangle-1-syT {
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #2d41a7;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                }
              }
              .rectangle-1-wCd {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #d9d9d9;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-1iH {
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
            }
          }
          .project-or-client-Kiy {
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .task-CXs {
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        background-color: #f4f2ff;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        height: 12.6rem;
        align-items: center;

        .my-task-VWy {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.75rem 1.5rem 0rem;
        }
        .frame-1-yww {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-95j {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 27.35rem 0rem 0rem;
            height: 3.5rem;

            .auto-group-wjrj-TcD {
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;

              .due-date-NUH {
                background-color: #ebb800;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;

                .mon-WaV {
                  width: 3rem;
                  top: 0.8rem;
                  line-height: 1.2575;
                  color: #ffffff;
                  white-space: nowrap;
                  height: 2.1rem;
                  position: absolute;
                  left: 0.8rem;
                  font-size: 1.6rem;
                  font-weight: 600;
                  font-family: SF Pro Display, 'Source Sans Pro';
                }
                .rectangle-1-BwX {
                  left: 0;
                  top: 0.6rem;
                  background-color: #ebb800;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                }
              }
              .rectangle-1-51K {
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #ebb800;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
              }
            }
            .rectangle-1-wZK {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #ebb800;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-fER {
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .task-yF7 {
        flex-shrink: 0;
        flex-direction: column;
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        height: 12.6rem;
        display: flex;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;

        .my-task-ftd {
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
        }
        .frame-1-akh {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-jtV {
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 25.95rem 0rem 0rem;
            height: 3.5rem;
            display: flex;

            .auto-group-egkh-f1T {
              width: 6rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;

              .due-date-NwT {
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #e42c5f;
                border-radius: 0.8rem;

                .mon-89w {
                  position: absolute;
                  top: 0.8rem;
                  font-weight: 600;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  width: 3rem;
                  height: 2.1rem;
                  white-space: nowrap;
                  left: 0.8rem;
                  font-size: 1.6rem;
                }
                .rectangle-1-Be1 {
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #e42c5f;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                }
              }
              .rectangle-1-HS9 {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #e42c5f;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-nth {
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #e42c5f;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
            }
          }
          .project-or-client-qry {
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
          }
        }
      }
      .task-Kn9 {
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        display: flex;
        border-radius: 1.2rem;
        width: 100%;
        height: 12.6rem;
        flex-direction: column;
        background-color: #f4f2ff;
        flex-shrink: 0;

        .my-task-qEh {
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-1-ZwP {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-XdK {
            margin: 0.35rem 24.25rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-6uam-FZK {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;

              .due-date-oKw {
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #e42c5f;
                border-radius: 0.8rem;

                .mon-JnV {
                  height: 2.1rem;
                  left: 0.8rem;
                  color: #ffffff;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  font-weight: 600;
                  line-height: 1.2575;
                  white-space: nowrap;
                  width: 3rem;
                  position: absolute;
                  top: 0.8rem;
                  font-size: 1.6rem;
                }
                .rectangle-1-DeZ {
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #e42c5f;
                }
              }
              .rectangle-1-uGV {
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #e42c5f;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
              }
            }
            .rectangle-1-QU9 {
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 2.4rem;
              height: 1.2rem;
              background-color: #e42c5f;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
            }
          }
          .project-or-client-gwT {
            color: #2b1887;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
          }
        }
      }
    }
  }
  .task-tnd {
    padding: 5.414rem 5.414rem 5.414rem 5.414rem;
    width: 98.5848rem;
    height: 29.3476rem;
    position: absolute;
    top: 54.1rem;
    box-sizing: border-box;
    left: 8.6rem;
    border: solid 1.6rem #2b1887;
    background-color: #f4f2ff;
    border-radius: 2.7071rem;

    .my-task-yJH {
      margin-bottom: 3.5095rem;
      font-size: 5.4143rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #000000;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-1-suT {
      display: flex;
      align-items: center;
      width: 100%;
      height: 7.9095rem;

      .priority-effort-dNq {
        margin-right: 21.8825rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .due-date-A7s {
          background-color: #e42c5f;
          width: 10.7095rem;
          font-weight: 600;
          justify-content: center;
          font-family: SF Pro Display, 'Source Sans Pro';
          border-radius: 1.8048rem;
          height: 100%;
          font-size: 3.6095rem;
          color: #ffffff;
          align-items: center;
          flex-shrink: 0;
          line-height: 1.2575;
          white-space: nowrap;
          display: flex;
        }
        .auto-group-4bys-qzh {
          box-sizing: border-box;
          padding: 2.601rem 0rem 2.601rem 2.707rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-1-9Vb {
            margin-right: 2.7071rem;
            width: 5.4143rem;
            height: 2.7071rem;
            background-color: #e42c5f;
            border-radius: 0 0.9024rem 0.9024rem 5.4143rem;
            flex-shrink: 0;
          }
          .rectangle-1-GKK {
            background-color: #e42c5f;
            border-radius: 0 0.9024rem 0.9024rem 5.4143rem;
            flex-shrink: 0;
            margin-right: 2.7071rem;
            width: 5.4143rem;
            height: 2.7071rem;
          }
          .rectangle-1-b6h {
            width: 5.4143rem;
            height: 2.7071rem;
            background-color: #d9d9d9;
            border-radius: 0 0.9024rem 0.9024rem 5.4143rem;
            flex-shrink: 0;
          }
        }
      }
      .project-or-client-UAV {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 5.4143rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #2b1887;
        margin-top: 0.1rem;
        text-align: right;
      }
    }
  }
  .frame-20-k81 {
    position: absolute;
    left: 8rem;
    top: 8rem;
    box-sizing: border-box;
    padding-top: 0.55rem;
    width: 45.3rem;
    height: 40.5rem;

    .heroicons-solid-document-check-o6H {
      margin: 0rem 0rem 2.95rem 1.375rem;
      width: 6.05rem;
      height: 7.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .to-do-list-Joj {
      margin-bottom: 2.3rem;
      font-size: 9rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-19-EhP {
      margin: 0rem 3.1rem 2.4rem 0rem;
      box-sizing: border-box;
      padding: 0.1rem 0rem 0rem 0.6rem;
      width: calc(100% - 3.1rem);
      display: flex;
      align-items: center;

      .heroicons-solid-check-circle-825 {
        margin: 0rem 3rem 0.1rem 0rem;
        width: 5.2rem;
        height: 5.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .figma-variants-1rZ {
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .frame-18-jnZ {
      box-sizing: border-box;
      padding: 0.1rem 0rem 0rem 0.6rem;
      width: calc(100% - 9.1rem);
      display: flex;
      align-items: center;
      margin-right: 9.1rem;

      .heroicons-solid-check-circle-dd3 {
        width: 5.2rem;
        height: 5.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3rem 0.1rem 0rem;
      }
      .auto-layout-MJ9 {
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.3025;
      }
    }
  }
}
