
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.how-it-works-74d {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #2b1887;
  border-radius: 2.4rem;
  padding: 8rem 8rem 8rem 8rem;

  .auto-group-nicy-wZT {
    flex-shrink: 0;
    margin-right: 8rem;
    width: 53.3333rem;
    height: 81rem;

    .casa-quj {
      box-sizing: border-box;
      width: calc(100% - 16.1333rem);
      display: flex;
      align-items: center;
      border: solid 0.1rem #ffffff;
      background-color: #2c43dd;
      border-radius: 1.6rem;
      margin: 0rem 16.133rem 5.8rem 0rem;
      padding: 1.6rem 1.9rem 1.2rem 2.088rem;

      .heroicons-solid-question-mark-circle-41o {
        margin: 0rem 2.088rem 0.4rem 0rem;
        width: 4.225rem;
        height: 4.225rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .how-it-works-hqT {
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #ffffff;
        font-family: SF Pro Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .how-it-works-o1K {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #5d5fef;
      border-radius: 1.6rem;
      margin-bottom: 31rem;
      box-sizing: border-box;
      padding: 4rem 5.633rem 4rem 4rem;

      .tasks-gau {
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4rem;
        font-size: 3.2rem;
        font-weight: 700;
      }
      .task-awB {
        background-color: #f4f2ff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.4rem 2.4rem 1.65rem 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .my-task-qVj {
          margin-bottom: 1.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-1-9WR {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .priority-effort-HsX {
            margin: 0.35rem 11.3rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-bjr5-u8D {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;

              .due-date-B5j {
                background-color: #e42c5f;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;

                .mon-5B7 {
                  line-height: 1.2575;
                  white-space: nowrap;
                  width: 3rem;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-weight: 600;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  height: 2.1rem;
                  position: absolute;
                  font-size: 1.6rem;
                  color: #ffffff;
                }
                .rectangle-1-WGR {
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #e42c5f;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                }
              }
              .rectangle-1-mTF {
                background-color: #e42c5f;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
              }
            }
            .rectangle-1-SZP {
              width: 2.4rem;
              height: 1.2rem;
              background-color: #e42c5f;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
            }
          }
          .project-or-client-689 {
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #2b1887;
          }
        }
      }
    }
    .logo-8Kj {
      display: flex;
      align-items: center;
      margin-right: 29.3014rem;
      width: calc(100% - 29.3014rem);

      .g10-FQM {
        width: 6.4928rem;
        height: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9391rem;
      }
      .text28-8U9 {
        line-height: 1.2575;
        color: #017bff;
        font-family: Boston, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0425rem;
        font-size: 4.3596rem;
        font-weight: 700;
      }
    }
  }
  .how-it-works-DVb {
    display: flex;
    border-radius: 1.6rem;
    flex-shrink: 0;
    margin: 12.6rem 8rem 0rem 0rem;
    padding: 4rem 6.133rem 4rem 4rem;
    width: 53.3333rem;
    background-color: #5d5fef;
    box-sizing: border-box;
    row-gap: 4rem;
    flex-direction: column;

    .how-it-works-eL1 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-13-hZB {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .priority-p81 {
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
      }
      .frame-9-iz5 {
        width: 100%;
        display: flex;
        background-color: #ffffff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 1.6rem 1.5rem 1.6rem;
        row-gap: 2.3rem;
        flex-direction: column;

        .frame-10-8nu {
          margin-right: 29.1rem;
          width: calc(100% - 29.1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-1-eWM {
            background-color: #e42c5f;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
            flex-shrink: 0;
            margin: 0rem 3.2rem 0.1rem 0rem;
            width: 2.4rem;
            height: 1.2rem;
          }
          .high-Jau {
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .frame-11-Beh {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 24.8rem;
          width: calc(100% - 24.8rem);

          .rectangle-1-Wgy {
            width: 2.4rem;
            height: 1.2rem;
            background-color: #ebb800;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
            flex-shrink: 0;
            margin: 0rem 3.2rem 0.1rem 0rem;
          }
          .medium-ZQM {
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .frame-12-sfw {
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 29.7rem;

          .rectangle-1-mWR {
            margin: 0rem 3.2rem 0.1rem 0rem;
            width: 2.4rem;
            height: 1.2rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
            flex-shrink: 0;
          }
          .low-R5B {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-14-rRP {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .level-of-effort-PgD {
        margin-bottom: 1.5rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-8-JHP {
        width: 100%;
        row-gap: 1.65rem;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 1.6rem 0.85rem 1.6rem;
        display: flex;

        .frame-10-A4h {
          flex-shrink: 0;
          margin-right: 21.7rem;
          width: calc(100% - 21.7rem);
          display: flex;
          align-items: flex-start;

          .priority-effort-eVf {
            margin: 0.35rem 3.2rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-e5sq-9SR {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;

              .due-date-321 {
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2d41a7;
                border-radius: 0.8rem;
                width: 4.8rem;
                height: 3.5rem;

                .mon-xPs {
                  font-size: 1.6rem;
                  line-height: 1.2575;
                  white-space: nowrap;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  width: 3rem;
                  height: 2.1rem;
                  position: absolute;
                  left: 0.8rem;
                  top: 0.8rem;
                  font-weight: 600;
                  color: #ffffff;
                }
                .rectangle-1-9DT {
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #2d41a7;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                }
              }
              .rectangle-1-yiH {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #d9d9d9;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-mu3 {
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
            }
          }
          .easy-rfb {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-11-N89 {
          flex-shrink: 0;
          margin-right: 15.7rem;
          width: calc(100% - 15.7rem);
          display: flex;
          align-items: flex-start;

          .priority-effort-TQV {
            flex-shrink: 0;
            margin: 0.35rem 3.2rem 0rem 0rem;
            height: 3.5rem;
            display: flex;
            align-items: center;

            .auto-group-zept-Ygq {
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .due-date-fmT {
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2d41a7;
                border-radius: 0.8rem;

                .mon-PBf {
                  left: 0.8rem;
                  top: 0.8rem;
                  font-weight: 600;
                  color: #ffffff;
                  width: 3rem;
                  height: 2.1rem;
                  position: absolute;
                  font-size: 1.6rem;
                  line-height: 1.2575;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .rectangle-1-Xx5 {
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #2d41a7;
                }
              }
              .rectangle-1-AEM {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #2d41a7;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-RRB {
              width: 2.4rem;
              height: 1.2rem;
              background-color: #d9d9d9;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
            }
          }
          .moderate-HiH {
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3025;
          }
        }
        .frame-12-NUq {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-right: 21.5rem;
          width: calc(100% - 21.5rem);

          .priority-effort-FoX {
            align-items: center;
            flex-shrink: 0;
            margin: 0.35rem 3.2rem 0rem 0rem;
            height: 3.5rem;
            display: flex;

            .auto-group-noff-Lpy {
              position: relative;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 6rem;
              height: 100%;

              .due-date-QZw {
                width: 4.8rem;
                height: 3.5rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #2d41a7;
                border-radius: 0.8rem;

                .mon-w45 {
                  left: 0.8rem;
                  top: 0.8rem;
                  line-height: 1.2575;
                  font-family: SF Pro Display, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 3rem;
                  height: 2.1rem;
                  position: absolute;
                  font-size: 1.6rem;
                  font-weight: 600;
                  color: #ffffff;
                }
                .rectangle-1-cR7 {
                  width: 2.4rem;
                  height: 1.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.6rem;
                  background-color: #2d41a7;
                  border-radius: 0 0.4rem 0.4rem 2.4rem;
                }
              }
              .rectangle-1-RtM {
                height: 1.2rem;
                position: absolute;
                left: 3.6rem;
                top: 0.6rem;
                background-color: #2d41a7;
                border-radius: 0 0.4rem 0.4rem 2.4rem;
                width: 2.4rem;
              }
            }
            .rectangle-1-uHj {
              height: 1.2rem;
              background-color: #2d41a7;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 2.4rem;
            }
          }
          .hard-C1w {
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  .how-it-works-Wwj {
    width: 53.3333rem;
    height: 66.1rem;
    position: relative;
    background-color: #5d5fef;
    border-radius: 1.6rem;
    flex-shrink: 0;
    margin-top: 14.5rem;

    .due-dates-kLH {
      font-weight: 700;
      font-family: DM Sans, 'Source Sans Pro';
      height: 4.2rem;
      position: absolute;
      top: 4rem;
      font-size: 3.2rem;
      white-space: nowrap;
      width: 16.1rem;
      left: 4rem;
      line-height: 1.3025;
      color: #ffffff;
    }
    .if-a-task-has-a-due-date-its-easy-to-add-one--Ci5 {
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      font-size: 1.6rem;
      left: 4rem;
      top: 9.8rem;
      line-height: 1.3025;
      color: #ffffff;
      width: 32.8rem;
      position: absolute;
    }
    .toggle-on-has-due-date-ngH {
      top: 13.5rem;
      font-size: 1.6rem;
      line-height: 1.3025;
      color: #ffffff;
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      width: 19rem;
      left: 4rem;
    }
    .frame-16-3s7 {
      box-sizing: border-box;
      padding: 0.8rem;
      position: absolute;
      background-color: #2c2c2c;
      border-radius: 0.8rem;
      width: 45.3333rem;
      height: 8rem;
      left: 4rem;
      top: 17.2rem;

      .image-1-uuK {
        vertical-align: top;
        width: 23rem;
        height: 6.4rem;
        object-fit: cover;
      }
    }
    .frame-8-CdX {
      column-gap: 6.5rem;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 6.7rem;
      position: absolute;
      left: 4rem;
      top: 26.8rem;
      border-radius: 1.2rem;
      padding: 1.6rem 1.6rem 1.05rem 1.6rem;
      width: 43.2rem;
      display: flex;

      .priority-effort-nrd {
        align-items: center;
        flex-shrink: 0;
        margin-top: 0.55rem;
        height: 3.5rem;
        display: flex;

        .auto-group-7flv-hyb {
          width: 6rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.2rem;

          .due-date-q4D {
            height: 3.5rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #2d41a7;
            border-radius: 0.8rem;
            width: 4.8rem;

            .mon-kws {
              top: 0.8rem;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: SF Pro Display, 'Source Sans Pro';
              width: 3rem;
              height: 2.1rem;
              position: absolute;
              left: 0.8rem;
              font-weight: 600;
              line-height: 1.2575;
              white-space: nowrap;
            }
            .rectangle-1-Cos {
              width: 2.4rem;
              height: 1.2rem;
              position: absolute;
              left: 0;
              top: 0.6rem;
              background-color: #2d41a7;
              border-radius: 0 0.4rem 0.4rem 2.4rem;
            }
          }
          .rectangle-1-3Jh {
            width: 2.4rem;
            height: 1.2rem;
            position: absolute;
            left: 3.6rem;
            top: 0.6rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
          }
        }
        .rectangle-1-5mB {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 2.4rem;
          height: 1.2rem;
          background-color: #2d41a7;
          border-radius: 0 0.4rem 0.4rem 2.4rem;
        }
      }
      .heroicons-outline-arrow-right-8jT {
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.55rem;
        width: 1.8rem;
      }
      .priority-effort-1HT {
        height: 3.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.55rem;

        .due-date-5YD {
          font-size: 1.6rem;
          line-height: 1.2575;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          background-color: #2d41a7;
          width: 4.8rem;
          display: flex;
          border-radius: 0.8rem;
          height: 100%;
          font-weight: 600;
          flex-shrink: 0;
          font-family: SF Pro Display, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-6f3o-4Q9 {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.15rem 0rem 1.15rem 1.2rem;
          height: 100%;
          display: flex;
          column-gap: 1.2rem;

          .rectangle-1-Wmw {
            width: 2.4rem;
            height: 1.2rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
            flex-shrink: 0;
          }
          .rectangle-1-1ih {
            flex-shrink: 0;
            width: 2.4rem;
            height: 1.2rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
          }
          .rectangle-1-gpq {
            flex-shrink: 0;
            width: 2.4rem;
            height: 1.2rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
          }
        }
      }
    }
    .select-the-day-its-due-Kso {
      line-height: 1.3025;
      color: #ffffff;
      height: 2.1rem;
      position: absolute;
      font-weight: 400;
      font-size: 1.6rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 18.1rem;
      left: 4rem;
      top: 35.1rem;
    }
    .frame-17-AtR {
      height: 23.3rem;
      position: absolute;
      background-color: #2c2c2c;
      width: 45.3333rem;
      padding: 0.8rem;
      left: 4rem;
      top: 38.8rem;
      border-radius: 0.8rem;
      box-sizing: border-box;

      .image-3-BoX {
        width: 22.7rem;
        height: 21.7rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}
