
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.6rem;
}.made-by-w8D {
  background-color: #2b1887;
  border-radius: 2.4rem;
  box-sizing: border-box;
  padding: 2.4rem 3.8rem 2.4rem 4rem;
  width: 100%;
  row-gap: 4rem;
  display: flex;
  flex-direction: column;

  .logo-fyK {
    flex-shrink: 0;
    margin-right: 15.8235rem;
    width: calc(100% - 15.8235rem);
    display: flex;
    align-items: center;

    .g10-YXK {
      width: 6.4501rem;
      height: 6.4573rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.9264rem;
    }
    .text28-Rr1 {
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Boston, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0061rem;
      font-size: 4.3596rem;
    }
  }
  .frame-21-59s {
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.1rem 0;
    width: 100%;
    display: flex;

    .made-with-Byb {
      font-weight: 700;
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.24rem;
      font-size: 3.2rem;
    }
    .heroicons-mini-heart-Uxh {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.24rem 0rem 0rem;
      width: 3.52rem;
      height: 3.0803rem;
      object-fit: contain;
    }
    .by-confetti-Xvy {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .confettihabitscom-pfB {
    text-decoration-line: underline;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3025;
  }
}
