
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 51.25rem;
}.task-3xD {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f2ff;
  border-radius: 1.2rem;
  box-sizing: border-box;
  padding: 2.4rem 2.4rem 1.65rem 2.4rem;

  .my-task-6vV {
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3025;
    color: #000000;
  }
  .frame-1-AvM {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;

    .priority-effort-Scy {
      margin: 0.35rem 11.55rem 0rem 0rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-fkjb-9GV {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 6rem;
        height: 100%;
        position: relative;

        .due-date-3cm {
          width: 4.8rem;
          height: 3.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #2d41a7;
          border-radius: 0.8rem;

          .mon-Nuw {
            width: 3rem;
            left: 0.8rem;
            top: 0.8rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: #ffffff;
            height: 2.1rem;
            position: absolute;
            line-height: 1.2575;
            font-family: SF Pro Display, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-1-rKK {
            width: 2.4rem;
            height: 1.2rem;
            position: absolute;
            left: 0;
            top: 0.6rem;
            background-color: #2d41a7;
            border-radius: 0 0.4rem 0.4rem 2.4rem;
          }
        }
        .rectangle-1-jtu {
          left: 3.6rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          border-radius: 0 0.4rem 0.4rem 2.4rem;
          width: 2.4rem;
          height: 1.2rem;
          position: absolute;
        }
      }
      .rectangle-1-27K {
        width: 2.4rem;
        height: 1.2rem;
        background-color: #d9d9d9;
        border-radius: 0 0.4rem 0.4rem 2.4rem;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
      }
    }
    .project-or-client-WoB {
      color: #2b1887;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: right;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
    }
  }
}
