<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Cover</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SF+Pro+Display%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/cover.css"/>
</head>
<body>
<div class="cover-3Sy">
  <div class="tasks-x49">
    <div class="frame-3-EGZ">
      <div class="frame-6-wRs">
        <img class="icon-3jo" src="./assets/icon-T8V.png"/>
        <p class="to-do-xLy">To-Do</p>
      </div>
      <div class="task-4Q1">
        <p class="my-task-nau">Wire up the new user flow</p>
        <div class="frame-1-ufX">
          <div class="priority-effort-TBF">
            <div class="due-date-aFs">Mon</div>
            <div class="auto-group-dm77-m5T">
              <div class="rectangle-1-e9F">
              </div>
              <div class="rectangle-1-vcZ">
              </div>
              <div class="rectangle-1-TMb">
              </div>
            </div>
          </div>
          <p class="project-or-client-jpu">PG</p>
        </div>
      </div>
      <div class="task-b6R">
        <p class="my-task-Vhb">Create light &amp; dark mode</p>
        <div class="frame-1-Cc1">
          <div class="priority-effort-AHw">
            <div class="auto-group-2fn1-Grm">
              <div class="due-date-be9">
                <p class="mon-wi1">Mon</p>
                <div class="rectangle-1-dKw">
                </div>
              </div>
              <div class="rectangle-1-2ss">
              </div>
            </div>
            <div class="rectangle-1-7uK">
            </div>
          </div>
          <p class="project-or-client-yRj">Coinbase</p>
        </div>
      </div>
      <div class="task-HSR">
        <p class="my-task-cjb">Create buttons states</p>
        <div class="frame-1-Xbf">
          <div class="priority-effort-gzM">
            <div class="auto-group-gsrp-ct1">
              <div class="due-date-MKo">
                <p class="mon-EeV">Mon</p>
                <div class="rectangle-1-Xdb">
                </div>
              </div>
              <div class="rectangle-1-1of">
              </div>
            </div>
            <div class="rectangle-1-WkR">
            </div>
          </div>
          <p class="project-or-client-RsP">Digi</p>
        </div>
      </div>
    </div>
    <div class="frame-5-JAV">
      <div class="frame-7-QUR">
        <img class="icon-77w" src="./assets/icon-t65.png"/>
        <p class="done-SR7">Done</p>
      </div>
      <div class="task-Zkd">
        <p class="my-task-HAq">Create to do list</p>
        <div class="frame-1-QmF">
          <div class="priority-effort-AkR">
            <div class="auto-group-vefs-Ha9">
              <div class="due-date-CSD">
                <p class="mon-iQZ">Mon</p>
                <div class="rectangle-1-nQR">
                </div>
              </div>
              <div class="rectangle-1-fUD">
              </div>
            </div>
            <div class="rectangle-1-yUu">
            </div>
          </div>
          <p class="project-or-client-3Ds">Confetti</p>
        </div>
      </div>
      <div class="task-MEZ">
        <p class="my-task-H8D">Add T&amp;Cs to CPG</p>
        <div class="frame-1-zHX">
          <div class="priority-effort-wiZ">
            <div class="auto-group-iznm-sMK">
              <div class="due-date-nz5">
                <p class="mon-hLM">Mon</p>
                <div class="rectangle-1-bAq">
                </div>
              </div>
              <div class="rectangle-1-GXs">
              </div>
            </div>
            <div class="rectangle-1-7YV">
            </div>
          </div>
          <p class="project-or-client-END">DocSign</p>
        </div>
      </div>
      <div class="task-X6R">
        <p class="my-task-46M">New Figma comments</p>
        <div class="frame-1-mFf">
          <div class="priority-effort-5GM">
            <div class="auto-group-qms7-nwT">
              <div class="due-date-Y9w">
                <p class="mon-fVT">Mon</p>
                <div class="rectangle-1-kG1">
                </div>
              </div>
              <div class="rectangle-1-FCm">
              </div>
            </div>
            <div class="rectangle-1-7Ey">
            </div>
          </div>
          <p class="project-or-client-2cq">DocSign</p>
        </div>
      </div>
      <div class="task-M9K">
        <p class="my-task-fA1">Organize design system</p>
        <div class="frame-1-zxy">
          <div class="priority-effort-N4R">
            <div class="auto-group-dhzb-toT">
              <div class="due-date-QG1">
                <p class="mon-KNy">Mon</p>
                <div class="rectangle-1-CSm">
                </div>
              </div>
              <div class="rectangle-1-HUD">
              </div>
            </div>
            <div class="rectangle-1-bUu">
            </div>
          </div>
          <p class="project-or-client-HsX">Carrier</p>
        </div>
      </div>
      <div class="task-p6m">
        <p class="my-task-jjX">Wire up the flow for Project Green</p>
        <div class="frame-1-ERP">
          <div class="priority-effort-nho">
            <div class="due-date-w4u">Mon</div>
            <div class="auto-group-8ec9-nrD">
              <div class="rectangle-1-hyB">
              </div>
              <div class="rectangle-1-omK">
              </div>
              <div class="rectangle-1-VPF">
              </div>
            </div>
          </div>
          <p class="project-or-client-zL1">PG</p>
        </div>
      </div>
      <div class="task-TjP">
        <p class="my-task-ap1">Create grid view of NFTs</p>
        <div class="frame-1-6XT">
          <div class="priority-effort-rWd">
            <div class="auto-group-maqr-ZZT">
              <div class="due-date-Gyf">
                <p class="mon-2C9">Mon</p>
                <div class="rectangle-1-syT">
                </div>
              </div>
              <div class="rectangle-1-wCd">
              </div>
            </div>
            <div class="rectangle-1-1iH">
            </div>
          </div>
          <p class="project-or-client-Kiy">Digi</p>
        </div>
      </div>
      <div class="task-CXs">
        <p class="my-task-VWy">Mobile swap &amp; transactions view</p>
        <div class="frame-1-yww">
          <div class="priority-effort-95j">
            <div class="auto-group-wjrj-TcD">
              <div class="due-date-NUH">
                <p class="mon-WaV">Mon</p>
                <div class="rectangle-1-BwX">
                </div>
              </div>
              <div class="rectangle-1-51K">
              </div>
            </div>
            <div class="rectangle-1-wZK">
            </div>
          </div>
          <p class="project-or-client-fER">Jump</p>
        </div>
      </div>
      <div class="task-yF7">
        <p class="my-task-ftd">Nested variants fixes</p>
        <div class="frame-1-akh">
          <div class="priority-effort-jtV">
            <div class="auto-group-egkh-f1T">
              <div class="due-date-NwT">
                <p class="mon-89w">Mon</p>
                <div class="rectangle-1-Be1">
                </div>
              </div>
              <div class="rectangle-1-HS9">
              </div>
            </div>
            <div class="rectangle-1-nth">
            </div>
          </div>
          <p class="project-or-client-qry">Carrier</p>
        </div>
      </div>
      <div class="task-Kn9">
        <p class="my-task-qEh">High fidelity for Mobile wires</p>
        <div class="frame-1-ZwP">
          <div class="priority-effort-XdK">
            <div class="auto-group-6uam-FZK">
              <div class="due-date-oKw">
                <p class="mon-JnV">Mon</p>
                <div class="rectangle-1-DeZ">
                </div>
              </div>
              <div class="rectangle-1-uGV">
              </div>
            </div>
            <div class="rectangle-1-QU9">
            </div>
          </div>
          <p class="project-or-client-gwT">Walmart</p>
        </div>
      </div>
    </div>
  </div>
  <div class="task-tnd">
    <p class="my-task-yJH">I am a task</p>
    <div class="frame-1-suT">
      <div class="priority-effort-dNq">
        <div class="due-date-A7s">Mon</div>
        <div class="auto-group-4bys-qzh">
          <div class="rectangle-1-9Vb">
          </div>
          <div class="rectangle-1-GKK">
          </div>
          <div class="rectangle-1-b6h">
          </div>
        </div>
      </div>
      <p class="project-or-client-UAV">Client Name</p>
    </div>
  </div>
  <div class="frame-20-k81">
    <img class="heroicons-solid-document-check-o6H" src="./assets/heroicons-solid-document-check.png"/>
    <p class="to-do-list-Joj">To-Do List</p>
    <div class="frame-19-EhP">
      <img class="heroicons-solid-check-circle-825" src="./assets/heroicons-solid-check-circle.png"/>
      <p class="figma-variants-1rZ">Figma Variants</p>
    </div>
    <div class="frame-18-jnZ">
      <img class="heroicons-solid-check-circle-dd3" src="./assets/heroicons-solid-check-circle-veD.png"/>
      <p class="auto-layout-MJ9">Auto Layout</p>
    </div>
  </div>
</div>
</body>