<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>How it works</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SF+Pro+Display%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Boston%3A700"/>
  <link rel="stylesheet" href="./styles/how-it-works.css"/>
</head>
<body>
<div class="how-it-works-74d">
  <div class="auto-group-nicy-wZT">
    <div class="casa-quj">
      <img class="heroicons-solid-question-mark-circle-41o" src="./assets/heroicons-solid-question-mark-circle.png"/>
      <p class="how-it-works-hqT">How it works</p>
    </div>
    <div class="how-it-works-o1K">
      <p class="tasks-gau">Tasks</p>
      <div class="task-awB">
        <p class="my-task-qVj">My task</p>
        <div class="frame-1-9WR">
          <div class="priority-effort-HsX">
            <div class="auto-group-bjr5-u8D">
              <div class="due-date-B5j">
                <p class="mon-5B7">Mon</p>
                <div class="rectangle-1-WGR">
                </div>
              </div>
              <div class="rectangle-1-mTF">
              </div>
            </div>
            <div class="rectangle-1-SZP">
            </div>
          </div>
          <p class="project-or-client-689">Project or Client</p>
        </div>
      </div>
    </div>
    <div class="logo-8Kj">
      <img class="g10-FQM" src="./assets/g10-6CH.png"/>
      <p class="text28-8U9">Confetti</p>
    </div>
  </div>
  <div class="how-it-works-DVb">
    <p class="how-it-works-eL1">How it works</p>
    <div class="frame-13-hZB">
      <p class="priority-p81">Priority</p>
      <div class="frame-9-iz5">
        <div class="frame-10-8nu">
          <div class="rectangle-1-eWM">
          </div>
          <p class="high-Jau">High</p>
        </div>
        <div class="frame-11-Beh">
          <div class="rectangle-1-Wgy">
          </div>
          <p class="medium-ZQM">Medium</p>
        </div>
        <div class="frame-12-sfw">
          <div class="rectangle-1-mWR">
          </div>
          <p class="low-R5B">Low</p>
        </div>
      </div>
    </div>
    <div class="frame-14-rRP">
      <p class="level-of-effort-PgD">Level of Effort</p>
      <div class="frame-8-JHP">
        <div class="frame-10-A4h">
          <div class="priority-effort-eVf">
            <div class="auto-group-e5sq-9SR">
              <div class="due-date-321">
                <p class="mon-xPs">Mon</p>
                <div class="rectangle-1-9DT">
                </div>
              </div>
              <div class="rectangle-1-yiH">
              </div>
            </div>
            <div class="rectangle-1-mu3">
            </div>
          </div>
          <p class="easy-rfb">Easy</p>
        </div>
        <div class="frame-11-N89">
          <div class="priority-effort-TQV">
            <div class="auto-group-zept-Ygq">
              <div class="due-date-fmT">
                <p class="mon-PBf">Mon</p>
                <div class="rectangle-1-Xx5">
                </div>
              </div>
              <div class="rectangle-1-AEM">
              </div>
            </div>
            <div class="rectangle-1-RRB">
            </div>
          </div>
          <p class="moderate-HiH">Moderate</p>
        </div>
        <div class="frame-12-NUq">
          <div class="priority-effort-FoX">
            <div class="auto-group-noff-Lpy">
              <div class="due-date-QZw">
                <p class="mon-w45">Mon</p>
                <div class="rectangle-1-cR7">
                </div>
              </div>
              <div class="rectangle-1-RtM">
              </div>
            </div>
            <div class="rectangle-1-uHj">
            </div>
          </div>
          <p class="hard-C1w">Hard</p>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works-Wwj">
    <p class="due-dates-kLH">Due Dates</p>
    <p class="if-a-task-has-a-due-date-its-easy-to-add-one--Ci5">If a task has a due date it’s easy to add one:</p>
    <p class="toggle-on-has-due-date-ngH">Toggle on “Has Due Date”</p>
    <div class="frame-16-3s7">
      <img class="image-1-uuK" src="./assets/image-1.png"/>
    </div>
    <div class="frame-8-CdX">
      <div class="priority-effort-nrd">
        <div class="auto-group-7flv-hyb">
          <div class="due-date-q4D">
            <p class="mon-kws">Mon</p>
            <div class="rectangle-1-Cos">
            </div>
          </div>
          <div class="rectangle-1-3Jh">
          </div>
        </div>
        <div class="rectangle-1-5mB">
        </div>
      </div>
      <img class="heroicons-outline-arrow-right-8jT" src="./assets/heroicons-outline-arrow-right.png"/>
      <div class="priority-effort-1HT">
        <div class="due-date-5YD">Mon</div>
        <div class="auto-group-6f3o-4Q9">
          <div class="rectangle-1-Wmw">
          </div>
          <div class="rectangle-1-1ih">
          </div>
          <div class="rectangle-1-gpq">
          </div>
        </div>
      </div>
    </div>
    <p class="select-the-day-its-due-Kso">2. Select the day it’s due</p>
    <div class="frame-17-AtR">
      <img class="image-3-BoX" src="./assets/image-3.png"/>
    </div>
  </div>
</div>
</body>