<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Made by</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Boston%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A700"/>
  <link rel="stylesheet" href="./styles/made-by.css"/>
</head>
<body>
<div class="made-by-w8D">
  <div class="logo-fyK">
    <img class="g10-YXK" src="./assets/g10-26m.png"/>
    <p class="text28-Rr1">Confetti</p>
  </div>
  <div class="frame-21-59s">
    <p class="made-with-Byb">Made with </p>
    <img class="heroicons-mini-heart-Uxh" src="./assets/heroicons-mini-heart.png"/>
    <p class="by-confetti-Xvy">by Confetti</p>
  </div>
  <p class="confettihabitscom-pfB">confettihabits.com</p>
</div>
</body>