<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Tasks</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SF+Pro+Display%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/tasks.css"/>
</head>
<body>
<div class="tasks-1Ny">
  <div class="frame-6-Pnq">
    <div class="frame-6-273">
      <img class="icon-cb3" src="./assets/icon-yH3.png"/>
      <p class="to-do-Gfb">To-Do</p>
    </div>
    <div class="task-tgy">
      <p class="my-task-RB7">Create wireframes</p>
      <div class="frame-1-3yB">
        <div class="priority-effort-jLD">
          <div class="due-date-Riq">Fri</div>
          <div class="auto-group-9sev-6Ed">
            <div class="rectangle-1-p4h">
            </div>
            <div class="rectangle-1-piu">
            </div>
            <div class="rectangle-1-4t9">
            </div>
          </div>
        </div>
        <p class="project-or-client-cYH">Walmart</p>
      </div>
    </div>
    <div class="task-Nfs">
      <p class="my-task-Exy">Create light and dark mode</p>
      <div class="frame-1-KzR">
        <div class="priority-effort-FdB">
          <div class="due-date-NSu">Wed</div>
          <div class="auto-group-j3nh-WBj">
            <div class="rectangle-1-XsX">
            </div>
            <div class="rectangle-1-nHf">
            </div>
            <div class="rectangle-1-sK7">
            </div>
          </div>
        </div>
        <p class="project-or-client-voB">Coinbase</p>
      </div>
    </div>
  </div>
  <div class="frame-7-Sf3">
    <div class="frame-7-9xm">
      <img class="icon-eed" src="./assets/icon.png"/>
      <p class="done-SKb">Done</p>
    </div>
    <div class="task-wXF">
      <p class="my-task-U1P">Wire up the new user flow</p>
      <div class="frame-1-Z2q">
        <div class="priority-effort-e4H">
          <div class="due-date-A2d">Mon</div>
          <div class="auto-group-gohk-WVo">
            <div class="rectangle-1-Nnu">
            </div>
            <div class="rectangle-1-3e9">
            </div>
            <div class="rectangle-1-fSZ">
            </div>
          </div>
        </div>
        <p class="project-or-client-FQm">PG</p>
      </div>
    </div>
    <div class="task-NXK">
      <p class="my-task-G6u">Create buttons states</p>
      <div class="frame-1-mpM">
        <div class="priority-effort-ggR">
          <div class="auto-group-visu-yfX">
            <div class="due-date-1s7">
              <p class="mon-xGZ">Mon</p>
              <div class="rectangle-1-NLH">
              </div>
            </div>
            <div class="rectangle-1-TsX">
            </div>
          </div>
          <div class="rectangle-1-LwK">
          </div>
        </div>
        <p class="project-or-client-aam">Digi</p>
      </div>
    </div>
    <div class="task-5XX">
      <p class="my-task-Yvu">Create to do list</p>
      <div class="frame-1-rRo">
        <div class="priority-effort-zY1">
          <div class="auto-group-vtyu-53f">
            <div class="due-date-oEZ">
              <p class="mon-sVK">Mon</p>
              <div class="rectangle-1-ikq">
              </div>
            </div>
            <div class="rectangle-1-bJq">
            </div>
          </div>
          <div class="rectangle-1-g5P">
          </div>
        </div>
        <p class="project-or-client-nPK">Confetti</p>
      </div>
    </div>
    <div class="task-W4R">
      <p class="my-task-kUZ">Add T&amp;Cs to CPG</p>
      <div class="frame-1-f5j">
        <div class="priority-effort-D7F">
          <div class="auto-group-kpxs-KAH">
            <div class="due-date-2Kb">
              <p class="mon-J2D">Mon</p>
              <div class="rectangle-1-zfj">
              </div>
            </div>
            <div class="rectangle-1-ch7">
            </div>
          </div>
          <div class="rectangle-1-vSu">
          </div>
        </div>
        <p class="project-or-client-RPf">DocSign</p>
      </div>
    </div>
    <div class="task-WR7">
      <p class="my-task-TLM">New Figma comments</p>
      <div class="frame-1-9ys">
        <div class="priority-effort-7A1">
          <div class="due-date-dPF">Mon</div>
          <div class="auto-group-244q-pTj">
            <div class="rectangle-1-7xd">
            </div>
            <div class="rectangle-1-o4m">
            </div>
            <div class="rectangle-1-tM7">
            </div>
          </div>
        </div>
        <p class="project-or-client-1Aq">DocSign</p>
      </div>
    </div>
    <div class="task-PBP">
      <p class="my-task-uQd">Organize design system</p>
      <div class="frame-1-SQZ">
        <div class="priority-effort-nzD">
          <div class="auto-group-n58m-djw">
            <div class="due-date-mr9">
              <p class="mon-Kcm">Mon</p>
              <div class="rectangle-1-MJZ">
              </div>
            </div>
            <div class="rectangle-1-dG5">
            </div>
          </div>
          <div class="rectangle-1-uzH">
          </div>
        </div>
        <p class="project-or-client-2JD">Carrier</p>
      </div>
    </div>
    <div class="task-iRw">
      <p class="my-task-qWZ">Wire up the flow for Project Green</p>
      <div class="frame-1-9GM">
        <div class="priority-effort-4PK">
          <div class="due-date-znm">Mon</div>
          <div class="auto-group-kns5-RdB">
            <div class="rectangle-1-LVF">
            </div>
            <div class="rectangle-1-chf">
            </div>
            <div class="rectangle-1-k3B">
            </div>
          </div>
        </div>
        <p class="project-or-client-Fkd">PG</p>
      </div>
    </div>
    <div class="task-5Ds">
      <p class="my-task-9Ud">Create grid view of NFTs</p>
      <div class="frame-1-UG1">
        <div class="priority-effort-d8u">
          <div class="auto-group-y8em-KXX">
            <div class="due-date-3yK">
              <p class="mon-bE9">Mon</p>
              <div class="rectangle-1-QxH">
              </div>
            </div>
            <div class="rectangle-1-761">
            </div>
          </div>
          <div class="rectangle-1-aEV">
          </div>
        </div>
        <p class="project-or-client-5h3">Digi</p>
      </div>
    </div>
    <div class="task-mJy">
      <p class="my-task-gB3">Mobile swap &amp; transactions view</p>
      <div class="frame-1-AM7">
        <div class="priority-effort-Guw">
          <div class="auto-group-pkd3-zqw">
            <div class="due-date-9D3">
              <p class="mon-tRX">Mon</p>
              <div class="rectangle-1-ZXf">
              </div>
            </div>
            <div class="rectangle-1-fah">
            </div>
          </div>
          <div class="rectangle-1-ks3">
          </div>
        </div>
        <p class="project-or-client-23s">Jump</p>
      </div>
    </div>
    <div class="task-ihP">
      <p class="my-task-q1K">Nested variants fixes</p>
      <div class="frame-1-Zi1">
        <div class="priority-effort-hJR">
          <div class="auto-group-vrch-zoK">
            <div class="due-date-LMP">
              <p class="mon-gRF">Mon</p>
              <div class="rectangle-1-7WZ">
              </div>
            </div>
            <div class="rectangle-1-pfs">
            </div>
          </div>
          <div class="rectangle-1-L8R">
          </div>
        </div>
        <p class="project-or-client-DCD">Carrier</p>
      </div>
    </div>
    <div class="task-8a5">
      <p class="my-task-4Tj">High fidelity for Mobile wires</p>
      <div class="frame-1-ZfP">
        <div class="priority-effort-K8m">
          <div class="auto-group-g1db-bry">
            <div class="due-date-9Nh">
              <p class="mon-Euw">Mon</p>
              <div class="rectangle-1-7Tw">
              </div>
            </div>
            <div class="rectangle-1-pdF">
            </div>
          </div>
          <div class="rectangle-1-JYR">
          </div>
        </div>
        <p class="project-or-client-pFs">Walmart</p>
      </div>
    </div>
  </div>
</div>
</body>