<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Task</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SF+Pro+Display%3A600"/>
  <link rel="stylesheet" href="./styles/task.css"/>
</head>
<body>
<div class="task-3xD">
  <p class="my-task-6vV">Task</p>
  <div class="frame-1-AvM">
    <div class="priority-effort-Scy">
      <div class="auto-group-fkjb-9GV">
        <div class="due-date-3cm">
          <p class="mon-Nuw">Mon</p>
          <div class="rectangle-1-rKK">
          </div>
        </div>
        <div class="rectangle-1-jtu">
        </div>
      </div>
      <div class="rectangle-1-27K">
      </div>
    </div>
    <p class="project-or-client-WoB">Client Name or project</p>
  </div>
</div>
</body>